<h1><%= @post.title %></h1>
<h3><%= @post.content %></h3>
<h5><%@post.categories.each do |category|%>
    <%= category.name %>,
<%end%></h5>
<%@post.comments.each do |comment|%>
  <p><%= comment.content %><p>
  <p><%= link_to comment.user.username, user_path(comment.user) %></p>
<%end%>
<%= form_for @post do |f| %>
  <%= f.fields_for :comment, @post.comments.build do |comment| %>
    <%= comment.text_field :content %>
    <%= f.collection_select :user_ids, User.all, :id, :username %>
  <% end %>
<%end%>
